.top_bar{
    display: flex;
    /* position:static; */
    width: 1890px;
    height: 100px;
    background-color:deeppink;
    box-shadow: 1px 5px 5px ;
    margin: auto;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    position: relative;
    top: 15px;
    margin-left: 50px;  
}

.connect{
    position: relative;
    display: flex;
    /* align-items: center; */
    left: 650px;
    height: 40px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    
}
.connect #label_clientID{
    margin-top: 5px;
   margin-left: 5px;
   font-weight: bold;
   color: aliceblue;
   /* float: left; */
}
.connect .button #box_clientID{
    /* position: relative; */
    margin-left: 2px;
    padding: 8px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black; 
    text-align: center;
    border: 1.5px black solid;
    border-radius: 15px;
    
}
/* .connect #btn_connect{
    margin-left: 5px;r
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black; 
    text-align: center;
    border: 1.5px black solid;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    background-color:darkgray;
} */


.connect #btn_connect {
    
    /* margin-left: 10px; */
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-left: 5px;
    outline: none;
    overflow: visible;
    padding: 9px 12px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 150px;
}
  
.connect #btn_connect:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
  
.connect #btn_connect:main,
.connect #btn_connect:focus {
    user-select: auto;
}
  
.connect #btn_connect:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
  
.connect #btn_connect:disabled {
    cursor: auto;
}
  
.connect #btn_connect:active {
    border-width: 4px 0 0;
    background: none;
}

/* ------------------MIDLE------------------ */

.contain{
    width: 1220px;
    height: 822.5px;
    position: relative;
    display: block;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    /* background-color: fuchsia; */
}

/* -----DATA----- */

.contain .data{
    width: 1220px;
    height: 350px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color:#1CB0F6;
    border-radius: 20px;
    border: 1px black solid;
    box-shadow: 1px 5px 5px ;
}

/* -----DATA CONSUMSION----- */

.contain .data h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}
.total_consumsion {
    height: 230px;
    width: 1220px;
}

/* energy */

.total_energy{
    width: 610px;
    height: 100%;
    /* background-color:darkgrey; */
    float: left;
    color: aliceblue;
}
.total_energy #label_energy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: relative;
    display: flex;
    margin: 30px 0px 0px 60px;
}
#box_energy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 150px;
    padding: 15px;
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    width: 350px;
}
#label_energy_unit{
    margin-left: 5px;
    font-size: 30px;
    color: aliceblue;
}


/* water */

.total_water{
    width: 610px;
    height: 100%;
    /* background-color:darkgrey; */
    float: left;
    color: aliceblue;
}
.total_water #label_water{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: relative;
    display: flex;
    margin: 30px 0px 0px 60px;
}
#box_water{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* position: relative;
    display: flex; */
    margin-top: 20px;
    margin-left: 150px;
    padding: 15px;
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    width: 350px;
}
#label_water_unit{
    margin-left: 5px;
    font-size: 30px;
    color: aliceblue;
}

/* -------Customer------- */

.contain .custom{
    width: 1220px;
    height: 417.5px;
    margin-top: 20px;
    display: flex;
    /* position: absolute; */
    /* background-color: blue; */
}

/* -CUSTOMER1- */

.contain .custom .custom1{
    width: 398px;
    height: 440px;
    /* background-color:darkgrey; */
    background-color: #1CB0F6;
    float: left;
    padding-top: 15px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 1px 5px 5px ;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22.5px;
    font-weight: bold;
    position: relative;
    color: aliceblue;
}
.cus_name{
    margin-left: 15px;
}
.cus_Id{
    margin-left: 130px;
}

#cus_energy{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
#cus_power{
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
#box_cus_energy1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 30px;
    border: 1px black solid;
    border-radius: 10px;
}

#cus_voltage{
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
#box_cus_voltage1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    border: 1px black solid;
    border-radius: 10px;
}

#cus_current{
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
#box_cus_current1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    border: 1px black solid;
    border-radius: 10px;
}

#cus_water{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
#cus_usage{
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
#box_cus_usage1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 45px;
    border: 1px black solid;
    border-radius: 10px;
}
#cus_unit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 5px;
    color: aliceblue;
}

/* --BUTTON CUSTOMER 1-- */
.custom1 .btn_c1_E {
    padding-top: 10px;
    /* background-color: yellowgreen; */
    width: 55%;
    height: 20%;
    margin-top: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.custom1 .btn_c1_W {
    padding-top: 10px;
    /* background-color: yellowgreen; */
    width: 45%;
    height: 20%;
    margin-top: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}





/* -CUSTOMER2- */

.contain .custom .custom2{
    width: 398px;
    height: 440px;
    /* background-color:darkgrey; */
    background-color: #1CB0F6;
    float: left;
    padding-top: 15px;
    border: 1px black solid;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 1px 5px 5px ;
}

#box_cus_energy2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 30px;
    border: 1px black solid;
    border-radius: 10px;
}

#box_cus_voltage2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    border: 1px black solid;
    border-radius: 10px;
}

#box_cus_current2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    border: 1px black solid;
    border-radius: 10px;
}

#box_cus_usage2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 45px;
    border: 1px black solid;
    border-radius: 10px;
}

/* --BUTTON CUSTOMER 2-- */
.custom2 .btn_c2_E {
    padding-top: 10px;
    /* background-color: yellowgreen; */
    width: 55%;
    height: 20%;
    margin-top: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.custom2 .btn_c2_W {
    padding-top: 10px;
    /* background-color: yellowgreen; */
    width: 45%;
    height: 20%;
    margin-top: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}



/* CUSTOMER3 */

.contain .custom .custom3{
    width: 398px;
    height: 440px;
    /* background-color:darkgrey; */
    background-color: #1CB0F6;
    float: left;
    padding-top: 15px;
    border: 1px black solid;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 1px 5px 5px ;
}

#box_cus_energy3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 30px;
    border: 1px black solid;
    border-radius: 10px;
}

#box_cus_voltage3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    border: 1px black solid;
    border-radius: 10px;
}

#box_cus_current3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    border: 1px black solid;
    border-radius: 10px;
}

#box_cus_usage3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-left: 45px;
    border: 1px black solid;
    border-radius: 10px;
}

/* --BUTTON CUSTOMER 3-- */
.custom3 .btn_c3_E {
    padding-top: 10px;
    /* background-color: yellowgreen; */
    width: 55%;
    height: 20%;
    margin-top: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.custom3 .btn_c3_W {
    padding-top: 10px;
    /* background-color: yellowgreen; */
    width: 45%;
    height: 20%;
    margin-top: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}










.switch-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    justify-content: center;
    margin: auto;
    height: 50px;

}

.switch-button .switch-outer {
    height: 100%;
    background: #252532;
    width: 100px;
    border-radius: 165px;
    -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    border: 1px solid #32303e;
    padding: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.switch-button .switch-outer input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.switch-button .switch-outer .button-toggle {
    height: 36px;
    width: 36px;
    background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3b3a4e),
    to(#272733)
    );
    background: -o-linear-gradient(#3b3a4e, #272733);
    background: linear-gradient(#3b3a4e, #272733);
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    position: relative;
    z-index: 2;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    left: 0;
}

.switch-button
.switch-outer
input[type="checkbox"]:checked
+ .button
.button-toggle {
    left: 58%;
}

.switch-button
.switch-outer
input[type="checkbox"]:checked
+ .button
.button-indicator {
    -webkit-animation: indicator 1s forwards;
    animation: indicator 1s forwards;
}

.switch-button .switch-outer .button {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.switch-button .switch-outer .button-indicator {
    height: 25px;
    width: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    border: 3px solid #ef565f;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 10px;
    position: relative;
}

@-webkit-keyframes indicator {
    30% {
    opacity: 0;
    }

    0% {
    opacity: 1;
    }

    100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
    }
}

@keyframes indicator {
    30% {
    opacity: 0;
    }

    0% {
    opacity: 1;
    }

    100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
    }
}
